---
title: First Iteration
---

%header.welcome
    .page-width
        %h1 Welcome to my latest experiment
        %p= lorem.sentence
        %button.call-to-action.button Try Now

%section.page-width.features
    %h2 Have a look at our features
    - 2.times do
        %article
            %p= lorem.paragraphs 2

%section.our-products
    .page-width
        %h2 Our products are awesome!
        .columns-2
            - 1.upto 2 do |n|
                .column
                    %article
                        = image_tag "product#{n}-white.png"
                        %h3= lorem.name
                        %p= lorem.sentences 1
                        %a.button Details...
        .columns-3
            - 3.upto 5 do |n|
                .column
                    %article
                        = image_tag "product#{n}-white.png"
                        %h3= lorem.name
                        %p= lorem.sentences 1
                        %a.button Details...


%section.testimonials.columns-3
    .page-width
        %h2 This is what our customers say

        - 3.times do |n|
            .column
                %article.testimonial
                    = image_tag "avatar#{n+1}.jpg"
                    %h3= lorem.name
                    %span.job-title= lorem.words 2
                    %p= lorem.sentences 2
