---
title: First Iteration
---

%header.welcome
    .page-width
        %h1 Welcome to my latest experiment
        %p= lorem.sentence
        %button Try Now

%section.page-width.features
    %h2 Have a look at our features
    - 2.times do
        %article
            %p= lorem.paragraphs 2

%section.page-width.features
    .page-width
        %h2 Out products are awesome!
        .columns-2
            .column
                %article yo
            .column
                %article yo
        .columns-3
            .column
                %article yo
            .column
                %article yo
            .column
                %article yo

%section.testimonials.columns-3
    .page-width
        %h2 This is what our customers say

        - 3.times do |n|
            .column
                %article.testimonial
                    = image_tag "avatar#{n+1}.jpg"
                    %h3= lorem.name
                    %span.job-title= lorem.words 2
                    %p= lorem.sentences 2
