---
title: First Iteration
---

%header.welcome
    .l-page-width
        %h1 Welcome to my latest experiment
        %p= lorem.sentence
        %button.call-to-action.button Try Now

%section.l-page-width.features
    %h2 Have a look at our features
    .l-columns-2
        - 2.times do
            .l-column
                %article
                    %p= lorem.paragraphs 2

%section.our-products
    .l-page-width
        %h2 Our products are awesome!
        .l-columns-2
            - 1.upto 2 do |n|
                .l-column
                    %article
                        = image_tag "product#{n}-white.png"
                        %h3= lorem.name
                        %p= lorem.sentences 1
                        %a.button Details...
        .l-columns-3
            - 3.upto 5 do |n|
                .l-column
                    %article
                        = image_tag "product#{n}-white.png"
                        %h3= lorem.name
                        %p= lorem.sentences 1
                        %a.button Details...


%section.testimonials.l-columns-3
    .l-page-width
        %h2 This is what our customers say
        - 3.times do |n|
            .l-column
                %article.testimonial
                    = image_tag "avatar#{n+1}.jpg"
                    %h3= lorem.name
                    %span.job-title= lorem.words 2
                    %p= lorem.sentences 2
